﻿@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@

<div class="row">
   Olar! Galera!

    <div class="col-md-12">
        @using (Html.BeginForm("Enviar", "EnviarArquivoXML", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <h2>Enviar arquivo XML</h2>
            <h2>Enviar arquivo XML</h2><h2>Enviar arquivo XML</h2><h2>Enviar arquivo XML</h2><h2>Enviar arquivo XML</h2>
            <h2>Enviar arquivo XML</h2><h2>Enviar arquivo XML</h2><h2>Enviar arquivo XML</h2><h2>Enviar arquivo XML</h2>
            <h2>Enviar arquivo XML</h2><h2>Enviar arquivo XML</h2><h2>Enviar arquivo XML</h2><h2>Enviar arquivo XML</h2>
            <input type="file" name="arquivo" id="arquivo" class="form-control" placeholder="Arquivo XML" />
            <br />
            <input type="submit" value="Salvar" class="btn btn-success" />
        }
    </div>
</div>